//CREAR LISTAS
$lista-numeros: (1, 2, 3);
$lista-strings: ("rojo", "verde", "azul");
$lista-mixta: (1, "dos", #3498db);


//LISTAS A PARTIR DE VARIABLES
$color-primario: #3498db;
$color-secundario: #e74c3c;
$colores: ($color-primario, $color-secundario);


//ACCEDER A LOS ELEMENTOS DE UNA LISTA
$colores: (#3498db, #e74c3c, #2ecc71);

.caja {
  color: nth($colores, 2); // Acceder al segundo color en la lista
}


//LONGITUD DE UNA LISTA
$lista: (1, 2, 3, 4, 5);

.longitud {
  $cantidad: length($lista); // Devuelve 5
}


//AGREGAR ELEMENTOS A UNA LISTA CON EL OPERADOR +
$lista-original: (1, 2, 3);
$elemento-nuevo: 4;

$lista-nueva: $lista-original + $elemento-nuevo; // Concatenar el elemento al final de la lista

//AGREGAR ELEMENTO NUEVO CON APPEND
$lista-original: (1, 2, 3);
$elemento-nuevo: 4;


$lista-nueva-final: append($lista-original, $elemento-nuevo); // Agregar al final de la lista
$lista-nueva-inicio: append($elemento-nuevo, $lista-original); // Agregar al inicio de la lista

//SEPARAR LISTAS
$lista: (1, 2, 3, 4, 5);
$primeros-tres: slice($lista, 1, 3); // Devuelve (2, 3, 4)

//ELIMINAR ELEMENTOS DE LISTAS
$lista-original: (1, 2, 3, 4, 5);
$lista-sin-3: remove($lista-original, 3); // Elimina el 3, devuelve (1, 2, 4, 5)

//COMBINAR LISTAS 
$lista1: (a, b, c);
$lista2: (1, 2, 3);

$combinada: zip($lista1, $lista2); // Devuelve ((a, 1), (b, 2), (c, 3))

$lista1: (1, 2, 3);
$lista2: (4, 5, 6);

// Unir con un guion y agregar a la derecha
$resultado: join($lista1, $lista2, $separator: "-", $position: append); 
// Devuelve (1-4, 2-5, 3-6)


//CONVERTIR LISTAS A MAPAS 
$lista: (key1, value1, key2, value2);
$mapa: map($lista); // Devuelve (key1: value1, key2: value2)


//ANIDAR LISTAS
$listas-anidadas: (1, 2, (3, 4), 5);
$lista1: (1, 2, 3);
$lista2: (4, 5, 6);


// INVERTIR EL ORDEN DE UNA LISTA
$lista-original: (1, 2, 3, 4, 5);
$lista-invertida: reverse($lista-original);

// REPETIR UN ELEMENTO EN UNA LISTA
$elemento-a-repetir: 0;
$lista-repetida: list.repeat($elemento-a-repetir, 3); // Repite el elemento 0 tres veces

// CONVERTIR UNA LISTA EN UN STRING
$lista-de-strings: ("rojo", "verde", "azul");
$string-de-lista: join($lista-de-strings, ", "); // Convierte la lista en "rojo, verde, azul"

// DIVIDIR UNA LISTA
$lista-original: (1, 2, 3, 4, 5, 6);
$lista-dividida: list.split($lista-original, 3); // Divide la lista en dos partes, devolviendo ((1, 2, 3), (4, 5, 6))

// CONVERTIR UNA LISTA EN UN MAPA
$lista-de-pares: (nombre, "Juan", edad, 25, ciudad, "Barcelona");
$mapa-desde-lista: map.from-list($lista-de-pares); // Convierte la lista de pares en un mapa



