body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/deer.jpg');
    background-size: cover;
    background-position: center;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    font-size: 16px;
    backdrop-filter: blur(2px);
}

@media only screen and (max-width: 600px) {
    body {
        background-size: auto;
    }
}

.nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}
  
.nav-link:hover{
    color: white;
}
.nav-link.active {
    color: white;
}
.nav-link:hover, .nav-link.active {
    backdrop-filter: blur(10px);
    background-color:  rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: black;
}

