main{
    max-width: 1000px;
    margin-top: 80px;
}
.tabs {
    backdrop-filter: blur(100px);
    background-color:  rgba(255, 255, 255, .4);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: auto;
    max-height: 750px;
    /* width: 420px; */ 

    /*For smartphones*/
    width: auto;

}
.nav-tabs {
    background-color: transparent;
    border: none;
}
.tab-pane {
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.accordion{
    font-weight: 500;
}
.humidity{
    margin-left:-18% ;
}