main{
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
}
.tabs {
    backdrop-filter: blur(100px);
    background-color:  rgba(255, 255, 255, .4);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: auto;
    /* width: 420px; */ 
    /*Para moviles*/
    width: auto;

}
.nav-tabs {
    background-color: transparent;
    border: none;
}
.tab-pane {
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}
  
.nav-link:hover{
    color: white;
}
.nav-link.active {
    color: white;
}
.nav-link:hover, .nav-link.active {
    backdrop-filter: blur(10px);
    background-color:  rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.accordion{
    font-weight: normal;
}