header {

    background-color: white
}

.h-caja-top {

    min-height: 8vh;
    background-color: rgb(19, 25, 33);
}

.h-caja-bot {

    background-color: rgb(35, 47, 62);
}

.h-caja-bot-mid {
    background-color: rgb(35, 47, 62);
}

.h-caja-bot-left {
    cursor: pointer
}

.h-caja-bot-left:hover {
    border: 1px solid aqua;
}

.icono-menu {

    background-color: rgb(35, 47, 62);
}

.txt-icono-menu {
    background-color: rgb(35, 47, 62);
    font-size: 16px;
}

.menu {

    background-color: rgb(35, 47, 62);
}

.opcion {
    font-weight: lighter;
    font-size: 16px;
}

.opcion:hover {}

.opcion:hover .link-opcion {}

.opcion:hover .submenu {}

.link-opcion {}

.submenu {

    min-width: max-content;
}

.subopcion {}

.subopcion:hover .submenu {}

.subopcion:hover .link-subopcion {}

.subopcion:hover .icono-subopcion {}

.link-subopcion {}

.icono-subopcion {}

.h-caja-bot-right {}

.txt-ofertas {}

.h-caja-bot-right:hover {}

.txt-ofertas-small {}