body {
    /*color para distinguir la caja*/
    background-color: lightgray;
    /*quitamos el margen con la caja html*/
    /*normalmente no se configura*/
    margin: 0px;
    /*garantizamos que el contenedor del cuerpo ocupe el 100 de la venta al cargar*/
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

header {
    display: flex;
    /*flex-direction:row VALOR POR DEFECTO, por eso no lo especificamos*/
    /*especificamos la altura mientras rellenamos con el contenido, pero no es necesario definir medidas, el conteindo y el padding y margin serán suficientes*/
    /* min-height: 100px;*/
    /*damos un color para distinguir la caja*/
    background-color: #2d2d2d;
    /*aplicamos margen con la caja contenedora para poder distinguir la caja exterior*/
    /* padding: 10px;*/
    border-bottom: 4px solid rgb(21, 175, 162);
}

.caja1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(202, 70, 194);
}

.caja1 .imagen {
    width: 100px;
    height: 100px;
    background-color: none;
}

.slogan {
    /*hacemos la caja del slogan flexible para poder mover el h3 dentro de ella*/
    display: flex;
    align-items: flex-end;
}

.slogan h3 {
    /*ajustamos los margenes y el padding del h3 para poner la imagen a la altura de la imagen que queramos*/
    padding: 0px;
    margin: 5px;
    background: linear-gradient(to right, rgb(61, 189, 172), white);
    -webkit-background-clip: text;
    color: transparent;
    /*la fuente mejor en el body, para usar lo mismo para toda la pagina*/
    /*Hemos importado un enlace para las fuentes*/
    /*Enlace para las fuentes       https://www.cdnfonts.com/i-irrigation-shallow.font */
    font-family: 'i Irrigation Shallow', sans-serif;
    font-size: 2em;
}

/*contenedor 2 del header*/
.caja2 {
    display: flex;
    flex-grow: 1;
    background-color: none;
    align-items: flex-end;
}

.menuPrincipal{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menuPrincipal .listaPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.menuPrincipal ul,
.menuPrincipal li {
    margin: 0;
    padding: 0;
}

.menuPrincipal ul {
    list-style: none;
    width: 100%;
}

.menuPrincipal li {            
    position: relative;
    width: auto;
}

.menuPrincipal a {           
    color: #FFFFFF;
    display: block;
    font: bold 13px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 5%;
}

.menuPrincipal a:hover {           
   color:#5ce9dd;

}

.menuPrincipal a:hover i {           
   color: rgb(0, 0, 0);           
}

.menuPrincipal a i {           
   color:#5ce9dd;
   margin:6px;
}

.menuPrincipal li:hover a {
   background: #8fa7a5;
   color: black;
}

.sublista {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul.sublista {
    opacity: 1;
    top: 40px;
    /* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
    -webkit-box-shadow: -6px 10px 5px 0px rgb(81, 197, 189);   
    -moz-box-shadow: -6px 10px 5px 0px rgb(81, 197, 189);
    box-shadow: -6px 10px 5px 0px rgb(81, 197, 189);
}

.sublista li {
    clear: both;
    width: 100%;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(81, 197, 189), 0 0 5px rgb(81, 197, 189);
}       

.menuPrincipal .sublista li a {
    background-color: #2d2d2d;
}

.sublista li a:hover {
    background: #6dd7db;
}




.caja3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    min-width: 200px;
    background-color: rgb(83, 146, 35);
}


.menuPrincipal{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.menuPrincipal .listaPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main {
    /*hacemos flex esta caja porque porque vamos a meter mas cosas dentro, al menos en principio*/
    display: flex;
    /*vamos a apilar el contenido en esta caja*/
    flex-direction: column;
    /*color para la caja*/
    background-color: rgb(151, 165, 164);
    /*hacemos que crezca según el contenido*/
    flex-grow: 1;
    /*lo quitaremos según metamos el contenido ya que el flex grow hara que los elementos se vayan colocando*/
    min-height: 100vh;
}

main .contenedor {
    margin: 5px;
    display: flex;
    flex-direction: row;
    background-color: rgb(234, 168, 168);

}

main .cajaMain1 {
    display: flex;
    margin: 5px;
    min-height: 50px;
    min-width: 50px;
    background-color: lightblue;
    flex-grow: 1;
}

main .contenedorDoble {

    display: flex;
    flex-direction: row;
    /*por defecto*/
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgb(178, 115, 32);
    justify-content: space-evenly;
}

main .cajaMain2 {
    display: flex;
    margin: 5px;
    height: 350px;
    width: 650px;
    background-color: lightblue;
}


main .contenedorGrande {
    display: flex;
    flex-direction: row;
    /*por defecto*/
    flex-wrap: wrap;
    margin: 5px;
    background-color: rgb(217, 153, 180);
    justify-content: space-evenly;
}

main .cajaMain3 {
    display: flex;
    margin: 5px;
    height: 350px;
    width: 1250px;
    background-color: rgb(171, 250, 102);
}

footer {
    /*hacemos flex esta caja porque porque vamos a meter mas cosas dentro, al menos en principio*/
    display: flex;
    /*vamos a apilar el contenido en esta caja*/
    flex-direction: row;
    /*color para la caja*/
    background-color: rgb(97, 239, 255);
    /*hacemos que crezca según el contenido*/
    flex-grow: 1;
    /*lo quitaremos según metamos el contenido*/
    min-height: 20vh;

}