body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana de visualización */
    background-image: url('fondo.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* La imagen se ajusta al tamaño de la ventana de visualización manteniendo su relación de aspecto */
    background-position: center; /* Centra la imagen en la ventana de visualización */
	font-family: 'Cascadia Code';
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:  rgba(255, 255, 255, .2);
	backdrop-filter: blur(10px);
}

.logo{
	color: #ffffff ;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.logo p{
	color: #e5c80a  ;
	text-transform: lowercase;
}

/*here goes the style of the links*/
.nav-links{
	display: flex;
	justify-content: space-around;
	width:35% ;
}


.nav-links li{
	list-style: none;
}
.nav-links a{
	text-decoration: none;
	letter-spacing: 2px;
	font-family: 'Cascadia Code';
	font-size: 17px;
}
.numbers{
	color:#e5c80a;
}
.links{
	color:#ffffff;
}
.links:hover{
	text-shadow: 0 0 5px #FFF, 0 0 20px #e5c80a, 0 0 30px #e5c80a, 
	0 0 40px #e5c80a, 0 0 55px #e5c80a, 0 0 75px #e5c80a;
}


.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: #e5c80a ;
	margin: 5px;
	transition:all 0.4s ease;
}
.burger div:hover{
	background-color: #e5c80a;
}

@media screen and (max-width: 1024px){

	.nav-links{
		width: 60%;
	}
}
@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
		backdrop-filter: blur(0px);
	}

	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: rgba(255, 255, 255, .2);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.s ease-in ;
		
	}


	.nav-links li{
		opacity: 0;	
	}
	.burger{
		display: block;
		color: #ffffff;
	}

}

.nav-active{
	transform: translateX(0%);
}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}


.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}