header {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    font-family: 'Cascadia Code';
    font-style: bold;
    font-weight: 1000px;
}

.h-caja-top {
    min-height: 8vh;
    background-color: rgb(19, 25, 33);
}

/*======================CAJA BOT======================*/
.h-caja-bot {
    background-color: rgb(35, 47, 62);
    display: flex;
    flex-direction: row;
}



/*==================burger==================*/
.h-caja-bot-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    cursor: pointer;
    transition: 0.3s;
}

.h-caja-bot-left:hover {
    color: aqua;
}

.icono-menu {
    background-color: rgb(35, 47, 62);
    margin-left: 70px;
}

.txt-icono-menu {
    background-color: rgb(35, 47, 62);
    font-size: 16px;
    margin: 3px;
}
/*==================burger==================*/



/* ===================MENU Y SUBMENU=================== */
.h-caja-bot-mid {
    background-color: rgb(35, 47, 62);
    max-height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.opcion {
    position: relative;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 20px;
    padding: 2px;
    transition: 0.3s;
    border-radius: 10px;
}

.opcion:hover {
    background-color: aqua;
}
.opcion a{
}

.opcion:hover a{
    color: black;
}

.submenu {
    position: absolute;
    border-radius: 10px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: gray;
    transition: opacity 0.3s ease;
    min-width: max-content;
    z-index: 3;
}

.menu .opcion:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.subopcion {
    position: relative;
}
.subopcion :hover{
    background-color: aqua;
}
.link-subopcion {
    color: white;
    transition: 0.3s;
}
.link-subopcion :hover {
    background-color: aqua;
}

.menu .opcion:hover .submenu {
    opacity: 1;
    visibility: visible;
}
/* ===================MENU Y SUBMENU=================== */



/* =================OFERTAS=============== */
.h-caja-bot-right{
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 10px;
}

.txt-ofertas{
    display: flex;
    justify-content: center;
}
.txt-ofertas-small{
    display: flex;
    justify-content: center;
}
.color{
    font-family:'Cascadia Code', monospace;
    font-style: italic;
    color:aqua;
}
/* =================OFERTAS=============== */

/*======================CAJA BOT======================*/