*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Cascadia Code';
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
    background-color: gray;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.logo h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.logo p {
    font-size: 18px;
    text-transform: lowercase;
    color: aquamarine;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width:35% ;
}


.nav-links li{
	list-style: none;
    margin-right: 5%;
}
.nav-links a{
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 17px;
    color: black;
    font-family:  'Cascadia Code';
}
.nav-links a:hover{
	color:aqua;
	text-shadow: 0 0 3px aquamarine, 0 0 5px #ffffff;
}