//ARITMETICOS
$numero1: 10;
$numero2: 5;

// Suma
$resultado-suma: $numero1 + $numero2;

// Resta
$resultado-resta: $numero1 - $numero2;

// Multiplicación
$resultado-multiplicacion: $numero1 * $numero2;

// División
$resultado-division: $numero1 / $numero2;

// Módulo (resto de la división)
$resultado-modulo: $numero1 % $numero2;


//COMPARACION
$valor1: 10;
$valor2: 5;

// Igual a
$resultado-igual: $valor1 == $valor2;

// No igual a
$resultado-no-igual: $valor1 != $valor2;

// Mayor que
$resultado-mayor-que: $valor1 > $valor2;

// Menor que
$resultado-menor-que: $valor1 < $valor2;

// Mayor o igual que
$resultado-mayor-o-igual-que: $valor1 >= $valor2;

// Menor o igual que
$resultado-menor-o-igual-que: $valor1 <= $valor2;


//LOGICOS
$condicion1: true;
$condicion2: false;

// AND lógico
$resultado-and-logico: $condicion1 and $condicion2;

// OR lógico
$resultado-or-logico: $condicion1 or $condicion2;

// NOT lógico
$resultado-not-logico: not $condicion1;


//CONCATENACION
$texto1: "Hola";
$texto2: "Mundo";

// Concatenación de cadenas
$resultado-concatenacion: $texto1 + " " + $texto2;


//ASIGNACION
$variable1: 10;

// Asignación de suma
$variable1: $variable1 + 5;

// Asignación de resta
$variable1: $variable1 - 3;

// Asignación de multiplicación
$variable1: $variable1 * 2;

// Asignación de división
$variable1: $variable1 / 4;

// Asignación de módulo
$variable1: $variable1 % 3;


//OPERADORES DE STRINGS 
$texto: "Hola Mundo";

// Longitud de un string
$longitud-string: str-length($texto);

// Conversión a mayúsculas
$texto-mayusculas: to-upper-case($texto);

// Conversión a minúsculas
$texto-minusculas: to-lower-case($texto);


//OPERADORES DE COLORES
$color1: #3498db;
$color2: #e74c3c;

// Mezclar colores
$color-mezclado: mix($color1, $color2, 50%);


//OPERADORES DE FUNCIONES
$numero: 3.14;

// Redondear un número
$numero-redondeado: round($numero);

// Obtener la raíz cuadrada
$raiz-cuadrada: sqrt($numero);


//Operador de interpolación
//Se representa mediante #{$variable} y es especialmente útil cuando deseas 
//combinar texto estático con el valor de una variable o una expresión de Sass
$color: red;

.element {
  background-color: #{$color};
}


  