// Definir variables
$color-primario: #3498db;
$font-tamano: 16px;

// Utilizar variables
body {
  font-family: Arial, sans-serif;
  font-size: $font-tamano;
  color: $color-primario;
}

.header {
  background-color: $color-primario;
}

// Modificar variables
$color-secundario: $color-primario;
$color-primario: #e74c3c;

.footer {
  background-color: $color-primario;
  color: $color-secundario;
}
