header {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    font-family: 'Cascadia Code';
    font-weight: bold; /* No existe la propiedad font-style: bold; */
}

.h-caja-top {
    min-height: 8vh;
    background-color: rgb(19, 25, 33);
}

/*======================CAJA BOT======================*/
.h-caja-bot {
    background-color: rgb(35, 47, 62);
    display: flex;
    flex-direction: row;
}

/*==================burger==================*/
.h-caja-bot-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    cursor: pointer;
    transition: 0.3s;
    color:  rgb(255, 200, 0);
}

.h-caja-bot-left:hover {
    color: white;
}

.icono-menu {
    background-color: rgb(35, 47, 62);
    margin-left: 70px;
}

.txt-icono-menu {
    background-color: rgb(35, 47, 62);
    font-size: 16px;
    margin: 3px;
}
/*==================burger==================*/

/* ===================MENU Y SUBMENU=================== */
.h-caja-bot-mid {
    background-color: rgb(35, 47, 62);
    max-height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    
}

.opcion {
    position: relative;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 20px;
    padding: 4px;
    transition: 0.3s;
    border-radius: 10px;
}

.opcion:hover {
    background-color: rgb(255, 200, 0);
}

.link-opcion {
    text-decoration: none;
    color: inherit;
}

.opcion:hover .link-opcion {
    color: black;
}

.submenu {
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color:  rgba(255, 255, 255, .2);
	backdrop-filter: blur(10px);
    transition: opacity 0.3s ease;
    min-width: max-content;
    padding: 10px;
}

.menu .opcion:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.subopcion{
    border-radius: 10px;
    padding: 5px;
}

.subopcion:hover {
    background-color: rgb(255, 200, 0);
}
.subopcion:hover a{
    background-color: rgb(255, 200, 0);
    color: #000;
}
.link-subopcion {
    color: white;
    transition: 0.3s;
    border-radius: 10px;
    margin: 3px;
}
/* =================OFERTAS=============== */
.h-caja-bot-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 200, 0);;
    padding-top: 10px;
}

.txt-ofertas {
    display: flex;
    justify-content: center;
}

.txt-ofertas-small {
    display: flex;
    justify-content: center;
}

.color {
    font-family: 'Cascadia Code', monospace;
    font-style: italic; /* Cambiado de color a font-style */
    color: rgb(255, 200, 0);
}
/* =================OFERTAS=============== */
