
.menu{
    list-style: none;
    display: flex;
    background-color: gray;
    justify-content: space-evenly;
    padding: 20px;
    font-family: 'Cascadia Code';
}


.opcion{
    text-decoration: none;
    padding: 10px;
    background-color: plum;
    color: blueviolet;
    border-radius: 5%;

}
.opcion a{
    text-decoration: none;
    color: blueviolet;
}

.subMenu{
    position: relative;
    border: 1px solid black;
    visibility: hidden;
    list-style: none;
    padding: 10px; /*espacio donde es encuentran contenidas las subopciones */
    background-color: gray;
}

.opcion:hover .subMenu{
    visibility: visible;
}